/*CSS reset*/
*{margin:0;padding:0;border:0;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,
var,dl,dt,dd,ol,ul,li,fieldset, form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td{font-weight:inherit;font-style:normal;font-size:100%;font-family:inherit;vertical-align:baseline;outline:0;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
/*end / CSS reset*/

/*CSS Default*/
#header,#content,#footer{float:none;clear:both;}
#container,#header,#content,#footer{overflow:auto;zoom:1}
a{text-decoration:none;}a:hover{text-decoration:underline;}
input,select,textarea{font:11px arial,helvetica,"sans Serif",clean,sans-serif;}
legend{display:none}label{cursor:pointer;cursor:hand;}:focus{outline:0;}

body{font:11px arial,helvetica,"sans Serif",clean,sans-serif;}
#container{}
/*end / CSS Default*/

/*position*/
.clear {clear:both}
.right {float:right}
.left {float:left}
/* end / position */

/* hide elements */
.hide {display:none}
/*end / hide elements */


/*header*/
#header{}
#header h1{}
/*end / header*/

/*content*/
#content{}
/*end / content*/

/*footer*/
#footer{}
#footer .developer{}
/*end / footer*/